[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
halo = "*"
requests = "*"
publicsuffix2 = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
